{% extends 'base.html.twig' %}

{% block title %} {{ parent()}} | A propos {% endblock %}

{% block body %}

<div class="about_section">
<div class="about">
    <h3 class="about__title">Notre Histoire</h3>
    <p class="about__text">
        Il était une fois, au cœur d'une ville animée,
        un groupe de passionnés de jeux vidéo qui partageait une admiration profonde pour l'univers envoûtant de Genshin Impact.
        Inspirés par leur amour commun pour ce jeu captivant,
        ils ont décidé de créer quelque chose de spécial qui permettrait à d'autres fans de vivre pleinement leur passion.
        Ainsi naquit "Teyvat Saloon", une entreprise dédiée à fournir des produits dérivés exceptionnels inspirés du monde magique de Genshin Impact.
    </p>
    <p class="about__text">
        L'équipe de "Teyvat Saloon" a commencé son périple en parcourant le monde virtuel de Teyvat,
        cherchant l'inspiration dans chaque coin et recoin de cette terre fantastique.
        Ils ont soigneusement sélectionné les éléments les plus emblématiques du jeu,
        des personnages charismatiques aux paysages époustouflants, pour les transformer en une gamme de produits uniques.
        Figurines, posters, peluches, porte-clés et même des voitures à l'effigie des héros adorés - chaque produit a été conçu avec une attention minutieuse aux détails pour capturer l'essence même de Genshin Impact.
    </p>
    <p class="about__text">
        Au fil du temps, "Teyvat Saloon" est devenue bien plus qu'une simple entreprise ;
        c'est devenue une communauté florissante de passionnés qui partagent l'amour pour l'aventure,
        la magie et l'amitié que Genshin Impact évoque. Grâce à leur engagement envers la qualité et à leur créativité sans limites,
        "Teyvat Saloon" a réussi à faire de chaque produit une invitation à plonger dans l'univers extraordinaire de Teyvat,
        créant ainsi une expérience inoubliable pour tous les voyageurs de ce monde virtuel.
        Et l'histoire continue, car chaque jour apporte de nouveaux trésors à découvrir et à partager avec une communauté toujours grandissante de passionnés.
    </p>
</div>
<div class="about">
    <h3 class="about__title">Nos Valeurs</h3>
    <p class="about__text">
        <span class="about__text__strong">Passion pour l'Aventure</span> : Chez "Teyvat Saloon", notre première et principale valeur est la passion inébranlable pour l'aventure.
        Nous croyons en l'exploration infinie de l'univers captivant de Genshin Impact,
        et cette passion se reflète dans chaque produit que nous créons.
        Chaque figurine, chaque poster et chaque porte-clés est imprégné de l'énergie vibrante de Teyvat,
        invitant nos clients à embrasser l'esprit d'aventure qui fait battre notre cœur. 
    </p>
    <p class="about__text">
        <span class="about__text__strong">Authenticité et Qualité</span> : L'authenticité et la qualité sont au cœur de tout ce que nous faisons.
        Nous nous engageons à capturer fidèlement l'essence de Genshin Impact dans chaque produit, en veillant à ce que chaque détail,
        chaque couleur et chaque expression soient une représentation précise de l'univers du jeu.
        Nos produits sont conçus avec un souci du détail exceptionnel et fabriqués avec des matériaux de haute qualité,
        garantissant une expérience authentique et durable pour nos clients.
    </p>
    <p class="about__text">
        <span class="about__text__strong">Communauté Engagée</span> : "Teyvat Saloon" ne se contente pas d'être une entreprise, mais une communauté engagée de passionnés.
        Nous croyons en la force de la communauté pour partager des expériences, inspirer la créativité et cultiver des amitiés durables.
        Nos produits sont conçus pour créer des liens au sein de la communauté Genshin Impact,
        offrant aux fans un moyen de partager leur amour pour le jeu et de construire des souvenirs ensemble.
    </p>
    <p class="about__text">
        <span class="about__text__strong">Innovation et Créativité</span> : L'innovation et la créativité sont des piliers fondamentaux de "Teyvat Saloon".
        Nous nous efforçons constamment d'apporter de nouveaux trésors à notre collection,
        explorant de nouvelles idées et repoussant les limites de la créativité.
        Notre engagement envers l'innovation garantit que nos clients découvrent continuellement des produits uniques et inattendus qui enrichissent leur expérience de Genshin Impact.
    </p>
    <p class="about__text">
        <span class="about__text__strong">Respect et Diversité</span> : "Teyvat Saloon" est un lieu où le respect et la diversité sont célébrés.
        Nous valorisons chaque fan de Genshin Impact, quel que soit leur parcours, en créant un espace inclusif où chacun se sent le bienvenu.
        Notre engagement envers le respect mutuel et la diversité se reflète dans notre approche de la conception de produits,
        créant une expérience inclusive pour tous les voyageurs de Teyvat.
    </p>
</div>
<div class="about">
    <h3 class="about__title">Notre Mission</h3>
    <p class="about__text">
        Chez "Teyvat Saloon", notre mission est d'éveiller et de nourrir la passion des fans de Genshin Impact en offrant une collection exceptionnelle de produits dérivés qui transcendent le virtuel pour devenir une réalité tangible.
        Nous nous engageons à capturer l'essence magique de l'univers de Teyvat dans chaque figurine, poster, peluche, porte-clé et voiture que nous proposons,
        créant ainsi des trésors uniques qui résonnent avec la communauté de passionnés du jeu.
    </p>
    <p class="about__text">
        Notre mission va au-delà de la simple vente de produits.
        Nous aspirons à créer une expérience immersive où chaque article devient un portail vers l'aventure,
        invitant nos clients à s'immerger dans l'univers enchanteur de Genshin Impact.
        En mettant l'accent sur l'authenticité, la qualité et la créativité, nous nous efforçons de construire une communauté engagée où les fans peuvent non seulement collectionner des trésors,
        mais aussi partager leur amour pour le jeu et construire des liens durables.
    </p>
    <p class="about__text">
        Chez "Teyvat Saloon", notre mission évolue au rythme des découvertes dans le monde virtuel de Teyvat.
        Nous sommes déterminés à innover continuellement, à élargir notre collection et à créer des produits qui inspirent l'émerveillement,
        encouragent l'exploration et célèbrent l'aventure. En bref, notre mission est de faire de chaque fan un véritable voyageur de Teyvat,
        portant avec eux un morceau de cet univers fantastique où qu'ils aillent.
    </p>
</div>
</div>

{% endblock %}