@use '../abstracts/mixins' as m;

.contact_container {
    width: 100%;
    @include m.dflex(row, wrap, space-around, center, 0px);
    padding-bottom: 10vh;
    @media screen and (max-width: 768px) {
        @include m.dflex(column, wrap, space-around, center, 2rem);
    }
}

.contact {
    @include m.dflex(column, wrap, space-between, center, 1rem);
    @include m.setcolor(primary);
    @include m.setbgcolor(bloc);
    @include m.setfont(text);
    border-radius: 10px;
    border: none;
    padding: 1rem;
    &__title {
        @include m.setcolor(light);
        @include m.setfont(title);
    }
    @media screen and (max-width: 768px) {
        width: 90%;
        font-size: 1rem;
    }
}