@use '../abstracts/mixins' as m;

.footer {
    @include m.setfont(text);
    @include m.setbgcolor(dark);
    @include m.setcolor(light);
    &__column {
        padding: 1rem;
        @include m.dflex(row, wrap, space-around, center, 0px);
        &__link {
            @include m.dflex(column, wrap, normal, left, 5px);
            a {
                @include m.setcolor(light);
            }
        }
        &__img {
            height: 25vh;
        }
    }
    &__line {
        padding: 1rem;
        border-top: 1px solid #323232;
        text-align: center;
    }
    @media screen and (max-width: 1470px) {
    font-size: 2rem;
        &__column {
            padding: 0.5rem;
            @include m.dflex(column, wrap, center, center, 2rem);

            &__link {
                margin-bottom: 1rem;
                @include m.dflex(column, wrap, normal, center, 5px);

                a {
                    @include m.setcolor(light);
                }
            }

            &__img {
                height: auto;
                max-width: 100%;
            }
        }
    }
}