@use '../abstracts/mixins' as m;

h1 {
    text-align: center;
    padding: 5vh 0;
    font-size: 3rem;
    @include m.setfont(title);
    @include m.setcolor(dark);
    @media screen and (max-width: 768px) {
        font-size: 2.5rem;
    }
}